<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: frgHead"></head>

<body>
    <nav th:replace="layout :: frgNavbar"></nav>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="layout :: frgSidebar"></div>
            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h2 th:text="${title}" class="mb-4"></h2>
                <form th:action="@{/usuario/save}" th:object="${usuario}" class="user" method="post">
                    <hr>
                    <div class="form-group">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" required class="form-control" th:errorclass="'form-control is-invalid'"
                                th:field="*{nombre}" placeholder="Nombre de usuario" /> <small class="invalid-feedback"
                                th:if="${#fields.hasErrors('nombre')}"
                            th:errors="*{nombre}"></small>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i
                                class="fa fa-key"></i></span>
                            </div>
                            <input type="password" required class="form-control"
                            th:errorclass="'form-control is-invalid'"
                            th:field="*{password}" placeholder="Password" /><small
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"></small>
                        </div>
                            <hr>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                        class="fa fa-address-card"></i></span>
                                    </div>
                                    <input type="text" required class="form-control"
                                    th:field="*{cedula}"
                                    th:errorclass="'form-control is-invalid'"
                                    placeholder="C&eacute;dula"> <small
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('cedula')}"
                                    th:errors="*{cedula}"></small>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                            class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" required class="form-control"
                                        th:errorclass="'form-control is-invalid'"
                                        th:field="*{nombres}" placeholder="Nombres" /> <small
                                        class="invalid-feedback"
                                        th:if="${#fields.hasErrors('nombres')}"
                                        th:errors="*{nombres}"></small>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                class="fa fa-user"></i></span>
                                            </div>
                                            <input type="text" required class="form-control"
                                            th:errorclass="'form-control is-invalid'"
                                            th:field="*{apellidos}" placeholder="Apellidos" /> <small
                                            class="invalid-feedback"
                                            th:if="${#fields.hasErrors('apellidos')}"
                                            th:errors="*{apellidos}"></small>
                                        </div>
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-save"></i> &nbsp;Guardar
                                            </button>
                                            <a th:href="@{/}" class="btn btn-danger"> <i
                                                class="fa fa-times"></i> &nbsp;Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </main>
                        </div>
                    </div>
                    <footer th:replace="layout :: frgFooter"></footer>
                </body>
            </html>