<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: frgHead"></head>

<body>
    <nav th:replace="layout :: frgNavbar"></nav>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="layout :: frgSidebar"></div>
            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h2 th:text="${title}" class="mb-4"></h2>
                <form th:action="@{/gerente/save}" th:object="${gerente}" enctype="multipart/form-data" method="POST">
                    <div class="form-group row">
                        <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                        <div class="col-sm-10">
                            <input id="cedula" type="text" class="form-control" th:field="*{cedula}"
                                placeholder="Cédula">
                                <small class="text-danger" th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
                        <div class="col-sm-10">
                            <input id="nombres" type="text" class="form-control" th:field="*{nombres}"
                                placeholder="Nombres">
                                <small class="text-danger" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input id="apellidos" type="text" class="form-control" th:field="*{apellidos}"
                                placeholder="Apellidos">
                                <small class="text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="nombres" class="col-sm-2 col-form-label">Nombre de usuario</label>
                        <div class="col-sm-10">
                            <input id="nombre" type="text" class="form-control" th:field="*{nombre}"
                                placeholder="Nombre de usuario">
                                <small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="fechaNacimiento" class="col-sm-2 col-form-label">Fecha de nacimiento</label>
                        <div class="col-sm-10">
                            <input id="fechaNacimiento" type="date" class="form-control" th:field="*{fechaNacimiento}"
                                placeholder="Fecha de nacimiento">
                                <small class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Correo electrónico</label>
                        <div class="col-sm-10">
                            <input id="email" type="email" class="form-control" th:field="*{email}"
                                placeholder="Correo electrónico">
                                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
                        <div class="col-sm-10">
                            <input id="telefono" type="text" class="form-control" th:field="*{telefono}"
                                placeholder="Teléfono">
                                <small class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="genero" class="col-sm-2 col-form-label">Genero</label>
                        <div class="col-sm-10">
                        <select name="genero" id="genero" class="form-control">
				            <option value="">Seleccione</option>
				            <option  value="Masculino">Masculino</option>
				            <option value="Femenino">Femenino</option>
				            <option value="Otro">Otro</option>
				        </select>
                                <small class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                        <div class="col-sm-10">
                            <input id="descripcion" type="text" class="form-control" th:field="*{descripcion}"
                                placeholder="Descripción">
                                <small class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="especializacion" class="col-sm-2 col-form-label">Especialización</label>
                        <div class="col-sm-10">
                            <input id="especializacion" type="text" class="form-control" th:field="*{especializacion}"
                                placeholder="Especialización">
                                <small class="text-danger" th:if="${#fields.hasErrors('especializacion')}" th:errors="*{especializacion}"></small>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                        <div class="col-sm-10">
                            <input type="file" name="photo" id="photo" class="form-control"> 
                        </div>
                    </div>
					
					<div class="form-group row">
                        <label for="nroCasa" class="col-sm-2 col-form-label">Contraseña</label>
                        <div class="col-sm-10">
                                <input type="password" required class="form-control"
                            th:errorclass="'form-control is-invalid'"
                            th:field="*{password}" placeholder="Password" />
                            
                            <small
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"></small>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0 text-center">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                            <a th:href="@{/gerente/retrieve/} + ${gerente.idGerente}" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>


                    <input type="hidden" th:field="*{idGerente}" />

                </form>
            </main>
        </div>
    </div>
    <footer th:replace="layout :: frgFooter"></footer>
</body>

</html>