<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: frgHead"></head>

<body>
    <nav th:replace="layout :: frgNavbar"></nav>
    <div class="container-fluid">
        <div class="row">
        <div th:replace="layout :: frgSidebar"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 th:text="${title}"></h1>
                <a class="btn btn-success" th:href="@{/servicio/create}"> <i class="fa fa-plus"></i> Nuevo</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Horario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="servicio : ${servicios}">
                        <td th:text="${servicio.nombre}"></td>
                        <td th:text="${servicio.imagen}"></td>
                        <td th:text="${servicio.descripcion}"></td>
                        <td th:text="${servicio.horario}"></td>
                        <td>
                            <a class="btn btn-sm btn-warning" th:href="@{/servicio/update/} + ${servicio.idServicio}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a class="btn btn-sm btn-info" th:href="@{/servicio/retrieve/} + ${servicio.idServicio}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        </div>
    </div>
    <footer th:replace="layout :: frgFooter"></footer>
</body>

</html>