<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: frgHead"></head>

<body>
    <nav th:replace="layout :: frgNavbar"></nav>
    
    <div>
    <div style="
    background: url('https://servipase.com/img/start_header.jpg');
    height: 250px;
    width: 100%;     background-size: cover;"></div>
    </div>
    <div class="container-fluid">
    
        <div class="row">
            <main class="col-12">

                <h1>Realiza tu reservación</h1>

                <div class="row">
                    <div th:each="gerente : ${gerentes}" class="div col-12 col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${gerente.nombres}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${gerente.especializacion}"></h6>
                                <p class="card-text" th:text="${gerente.descripcion}"></p>
                                <a th:href="@{/gerente/servicios/} + ${gerente.idGerente}"
                                    class="card-link text-center d-block">Ver servicios</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </main>
        </div>
    </div>
    <footer th:replace="layout :: frgFooter"></footer>
</body>

</html>